
/* ================ 폰트적용 =============== */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body,header,main,div,footer {
	font-family: "Noto Sans KR", sans-serif;
}
/* ================= width =============== */

.w-100 {width: 100% !important;}
.w-95 {width: 95% !important;}
.w-90 {width: 90% !important;}
.w-80 {width: 80% !important;}
.w-70 {width: 70% !important;}
.w-60 {width: 60% !important;}
.w-50 {width: 50% !important;}
.w-40 {width: 40% !important;}
.w-30 {width: 30% !important;}
.w-20 {width: 20% !important;}
.w-10 {width: 10% !important;}
.w-05 {width: 5% !important;}

/* ================= margin padding =============== */

.m-0auto {margin: 0 auto !important;}
.ml-auto {margin-left: auto !important;}
.mr-auto {margin-right: auto !important;}
.mt-05 {margin-top:.5rem !important;}
.m-1 {margin: 1rem !important;}
.m-2 {margin: 2rem !important;}
.m-3 {margin: 3rem !important;}
.mt-1 {margin-top:1rem !important;}
.mt-2 {margin-top:2rem !important;}
.mt-3 {margin-top:3rem !important;}
.mr-05 {margin-right:.5rem !important;}
.mr-1 {margin-right:1rem !important;}
.mr-2 {margin-right:2rem !important;}
.mr-3 {margin-right:3rem !important;}
.mb-05 {margin-bottom:.5rem !important;}
.mb-1 {margin-bottom:1rem !important;}
.mb-2 {margin-bottom:2rem !important;}
.mb-3 {margin-bottom:3rem !important;}
.ml-05 {margin-left:.5rem !important;}
.ml-1 {margin-left:1rem !important;}
.ml-2 {margin-left:2rem !important;}
.ml-3 {margin-left:3rem !important;}

.p-05 {padding:.5rem !important;}
.p-1 {padding:1rem !important;}
.p-2 {padding:2rem !important;}
.pb-1 {padding-bottom :1rem !important;}
.pl-1 {padding-left: 1rem !important;}

.pt-2{padding-top:2rem !important;}

.text-c {text-align: center !important;}
.text-r {text-align: right !important;}


/* ================= color =============== */
:root {
	--main-color : #FF7800;
	--gr100 : #FCFCFC;
	--gr150 : #F8F8FA;
	--gr300 : #D9D9D9;
	--gr400 : #A8A6A6;
	--gr450 : #999;
	--gr500 : #767676;
	--gr600 : #191919;
	--wh : #fff;
	--bk : #000;
}

/* bg컬러 */

.bg-gr100 {background-color: var(--gr100) !important;}
.bg-gr150 {background-color: var(--gr150) !important;}
.bg-gr300 {background-color: var(--gr300) !important;}
.bg-gr400 {background-color: var(--gr400) !important;}
.bg-gr450 {background-color: var(--gr450) !important;}
.bg-gr500 {background-color: var(--gr500) !important;}
.bg-gr600 {background-color: var(--gr600) !important;}
.bg-wh {background-color: var(--wh) !important;}
.bg-bk {background-color: var(--bk) !important;}
.bg-main {background-color: var(--main-color) !important;}

/* text컬러 */
.text-gr100 {color: var(--gr100) !important;}
.text-gr150 {color: var(--gr150) !important;}
.text-gr300 {color: var(--gr300) !important;}
.text-gr400 {color: var(--gr400) !important;}
.text-gr450 {color: var(--gr450) !important;}
.text-gr500 {color: var(--gr500) !important;}
.text-gr600 {color: var(--gr600) !important;}
.text-wh {color: var(--wh) !important;}
.text-bk {color: var(--bk) !important;}
.text-main {color: var(--main-color) !important;}

/* ================= text 속성 =============== */

.fw-500 {font-weight:500 !important;}
.fw-600 {font-weight:600 !important;}
.fw-700 {font-weight:700 !important;}
.fw-800 {font-weight:800 !important;}

.fs-06{font-size:.6rem !important;}
.fs-08{font-size:.8rem !important;}
.fs-10{font-size:1rem !important;}
.fs-12{font-size:1.2rem !important;}
.fs-14{font-size:1.4rem !important;}
.fs-16{font-size:1.6rem !important;}

.va-super { vertical-align: super;}
/* ================= position =============== */
.position-r {position:relative !important;}
.position-a {position:absolute !important;}

/* ================= flex =============== */

.flex-box {
  display: flex !important;
  flex-wrap: wrap;
}
.f-around {justify-content: space-around;}
.f-between {justify-content: space-between;}
.f-center {justify-content: center;}
.f-end {justify-content: end;}

/* ================= display 속성 =============== */
.block-box {display:block !important;}
.inline-box {display:inline !important;}
.inblo-box {display:inline-block !important;}

/* ================= float무효화  =============== */
.no-float {float:none !important;}

/* ================= button =============== */
/* 버튼 기본속성  */
button,.btn {
	border:none;
  width: 120px;
  height: 48px;
  border-radius: 10px;
	}
	
.btn-re { /* 댓글용 버튼 */
	border:none;
	width: 60px;
  height: 32px;
  border-radius: 5px;
}
/* 메인컬러 버튼 */
.btn-primary {
	background: var(--main-color);
	color: var(--gr100);
}
.btn-line-primary {
	border : 1px solid var(--main-color);
	color: var(--main-color);
	background:transparent;
}
.btn-line-gray {
	border : 1px solid var(--gr500);
	color: var(--gr-500);
	background:transparent;
}
/* 버튼에 아이콘 들어갈때 사용 */
.btn-icon {
	background-repeat:no-repeat;
	background-position: 7px 12px;
  background-size: 24px;
}

.btn-close {
	background: url('../images/icon-close.png') no-repeat;
  background-size: contain;
	width: 48px;
}

.btn-edit {
	background: url('../images/icon-edit.png') no-repeat;
  background-size: contain;
	width: 48px;
}

.btn-reClose, .btn-reEidt {
	position:absolute;
	border:none;
}
.btn-reClose {
	top: 1rem;
	right: 1rem;
	width: 32px;
  height: 32px;
}

.btn-reEidt {
	bottom: 1rem;
	right: 1rem;
	width: 20px;
  height: 20px;
}

/* ================= 아이콘 =============== */
.icon {
	border:none;
	border-radius : 5px;
	width: 32px;
	height: 32px;
}

.icon-home {
	background: url('../images/icon-home.png') no-repeat;
	background-size: contain;
}

.icon-search {
	background: url('../images/icon-search.png') no-repeat;
	background-size: contain;
}
/* ===============기타 =============== */
.bar {
	border-bottom: 2px solid var(--gr300);
	height:2px;
	width:100%;
}

.re-count {
  bottom: 0;
  right: 0;
  padding: 0;
}

#re_first.re-count {
	padding: 0;
	margin: 0;
	
}

/* ===============기타 =============== */

.search-input {
  border-radius: 5px;
  border: none;
  padding: 0.7rem;
}
.search-cat{
  padding: .7rem;
  border-radius: 5px;
}