/* header */
header {
  padding: 3%;
}
/* nav */
.search-box {
  padding: .2rem;
  width: 45%;
  margin-left: auto;
}
.search-box input {
  padding: .4rem;
}

.menu {
  padding: 3%;
  cursor: pointer;
}
.menu p {
  line-height: 2;
}
.nav_smenu {
  display: none;
  z-index: 999;
  text-align: center;
  background: #ededed;
}
.nav_smenu.active {
  display: block;
}

/* content */
.con-wrap {
  width: calc(60% - 30px);
}

.con {
  padding: 1.2rem;
}

.mv img {
  width: 80%;
  margin: 0 auto;
}

.recoomand {

}

.recoomand .items {
  width: 28%;
  padding: 2%;
}

.recoomand li:nth-child(odd) {
  background: indigo;
  margin-bottom: 20px;
}

.recoomand li:nth-child(even) {
  background: pink;
}
.recoomand li:nth-child(3n) {
  background: yellow;
  margin-top: -20px;
}

/* main-aside */
aside {
  width: 40%;
}

.space-login input {
  display: block;
  width: 100%;
  padding: .5rem;
}

.space-festa {
}

.space-festa ul li img {
  max-width: 100%;
}

.space-weather {
  
}

